<div class="container">
  <div class="form-box">
    <h1 class="header">Sign Up</h1>
    <div class="register">Already a Member? <a class="link" routerLink="/login">Log In</a></div>
    <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
      <div class="form-element col-span-6">
        <label class="form-label" for="first_name">First Name</label>
        <input class="form-input" formControlName="firstName" type="text">
      </div>
      <div class="form-element col-span-6">
        <label class="form-label" for="last_name">Last Name</label>
        <input class="form-input" formControlName="lastName" type="text">
      </div>
      <div class="form-element col-span-12">
        <label class="form-label" for="email">Email</label>
        <input class="form-input" formControlName="email" type="email">
      </div>
      <div class="form-element col-span-12">
        <label class="form-label" for="password">Password</label>
        <input class="form-input" formControlName="password" type="password">
      </div>
      <div class="form-element col-span-12">
        <label class="form-label" for="repeatPassword">Repeat Password</label>
        <input class="form-input" formControlName="repeatPassword" type="password">
      </div>
      <div class="form-control">
        <button type="submit" [disabled]="!form.valid" class="form-submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>