<section *ngIf="addRecipeModeEnabled; then addRecipeToolbar else searchRecipeToolbar"></section>

<ul class="recipe-list">
  <a
    [routerLink]="[recipe.id, 'edit']"
    routerLinkActive #editRecipe="routerLinkActive"
    (contextmenu)="openItemContextMenu($event, recipe); false"
    *ngFor="let recipe of recipes" 
    class="recipe-item">
    {{ recipe.name }}
  </a>
</ul>

<div *ngIf="showRecipeContextMenu">
  <app-recipe-context-menu
    [positionX]="contextMenuPositionX"
    [positionY]="contextMenuPositionY"
    [recipe]="selectedRecipe"
  >
  </app-recipe-context-menu>
</div>

<ng-template #addRecipeToolbar>
  <app-add-recipe-toolbar 
    (add)="addRecipe($event)"
    (cancel)="disableAddRecipeMode()"
  ></app-add-recipe-toolbar>
</ng-template>

<ng-template #searchRecipeToolbar>
  <app-search-recipe-toolbar 
    (search)="searchForRecipes($event)"
    (addClick)="enableAddRecipeMode()"
  ></app-search-recipe-toolbar>
</ng-template>


