.active {
  @apply
    font-semibold
    bg-purple-800
    text-white
  ;
}

.container {
  @apply 
    mx-auto
  ;
}

.kitchen-content {
  @apply
    col-span-12
    lg:col-span-10
  ;
}

.kitchen-menu {
  @apply
    lg:col-span-2
    col-span-12
  ;
  
  ul {
    @apply
      flex
      justify-around
      lg:flex-col
    ;

    li {
      @apply flex-grow;
    }
  }
  
}

.kitchen-menu-item {
  @apply
    block
    rounded-md
    p-3
    transition
    flex-grow
    md:text-left
    text-center
    mx-1
  ;

  &:not(.active):hover {
    @apply
      bg-gray-700
      bg-opacity-40
      ease-in
  }
}

