<div class="container">
  <div class="grid grid-cols-12 gap-4">
    <aside class="kitchen-menu">
      <ul>
        <li><a class="kitchen-menu-item" routerLink="recipe" routerLinkActive="active">Recipes</a></li>
        <li><a class="kitchen-menu-item" routerLink="shopping-cart" routerLinkActive="active">Shopping Cart</a></li>
        <li><a class="kitchen-menu-item" routerLink="ingredients" routerLinkActive="active">Ingredients</a></li>
        <li><a class="kitchen-menu-item" routerLink="weekly-menu" routerLinkActive="active">Weekly Menu</a></li>
      </ul>
    </aside>

    <main class="kitchen-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

