<div class="flex flex-col">
  <div class="header">
    <div class="top-row">
      <input 
        class="recipe-name" 
        type="text" 
        placeholder="Enter recipe name..."
        [(ngModel)]="recipe.name">

      <div class="btn-container-desktop self-start">
        <button class="btn-purple" (click)="onUpdateClicked()">Update</button>
        <button class="btn-red" (click)="onDeleteClicked()">Delete</button>
        <button class="btn-cancel" (click)="onCancelClicked()">Cancel</button>
      </div>
    </div>

    <input class="recipe-description" placeholder="Enter recipe description here..." />
  </div>

  <div class="detail-container">
    <section class="mb-8">
      <app-ingredient-selector
        [ingredientList]="recipe ? recipe.ingredients : []"
        (onIngredientListChange)="updateRecipeIngredientList($event)"
      >
      </app-ingredient-selector>
    </section>

    <section>
      <app-weekly-menu-picker
        [weeklyMenu]="weeklyMenu"
        (addToLunch)="addToWeeklyMenu($event, 0)"
        (addToDinner)="addToWeeklyMenu($event, 1)"
      ></app-weekly-menu-picker>
    </section>
  </div>
</div>

<!-- <div class="btn-container-mobile self-start">
  <button class="btn-purple" (click)="onUpdateClicked()">Update</button>
  <button class="btn-red" (click)="onDeleteClicked()">Delete</button>
  <button class="btn-cancel" (click)="onCancelClicked()">Cancel</button>
</div> -->