<div class="header">
  <div class="top-row">
    <div class="flex items-end">
      
        <input 
          class="recipe-name" 
          type="text" 
          (keypress)="isRecipeNameValid() && $event.key =='Enter' ? confirmRecipeNameEdit() : null"
          placeholder="Enter recipe name..."
          [disabled]="!recipeNameEditible" 
          [(ngModel)]="recipeNameEditText">
        <div *ngIf="!recipeNameEditible">
          <button (click)="enableRecipeNameEdit()" class="edit-title-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
            </svg>
          </button>
        </div>
      

      <div *ngIf="recipeNameEditible">
        <button [disabled]="!isRecipeNameValid()" (click)="confirmRecipeNameEdit()" class="confirm-title-button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
        </button>
        <button (click)="cancelRecipeNameEdit()" class="cancel-title-button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>

    <div class="btn-container self-start">
      <button class="btn-purple" (click)="onUpdateClicked()">Update</button>
      <button class="btn-red" (click)="onDeleteClicked()">Delete</button>
      <button class="btn-cancel" (click)="onCancelClicked()">Cancel</button>
    </div>
  </div>

  <div class="flex items-end">
      <input [disabled]="!recipeDescriptionEditible" class="recipe-description" placeholder="Enter recipe description here..." />
        <div *ngIf="!recipeDescriptionEditible">
          <button (click)="enableRecipeDescriptionEdit()" class="edit-title-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
            </svg>
          </button>
        </div>
      

      <div *ngIf="recipeDescriptionEditible">
        <button (click)="confirmRecipeDescriptionEdit()" class="confirm-title-button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
        </button>
        <button (click)="cancelRecipeDescriptionEdit()" class="cancel-title-button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
</div>

<div class="ingredient-container my-5">
  <main class="main">
    <h2 class="ingredient-title">Search for Ingredient</h2>
  </main>
  <aside class="sidebar">
    <h2 class="ingredient-title">Ingredient List</h2>
  </aside>
</div>

<div class="paper">
  <h2 class="ingredient-title mb-5">Add to Weekly Menu</h2>
  <table class="weekly-menu-table">
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let item of weeklyMenu">{{item.day}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Lunch</th>
        <td *ngFor="let item of weeklyMenu">
          <span *ngIf="item.lunch">{{item.lunch?.name}}</span>
          <button class="btn-green-outline" *ngIf="!item.lunch">Add</button>
        </td>
      </tr>
      <tr>
        <th>Dinner</th>
        <td *ngFor="let item of weeklyMenu">
          <span *ngIf="item.dinner">{{item.dinner?.name}}</span>
          <button class="btn-green-outline"  *ngIf="!item.dinner">Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>