<div class="toolbar mb-4">
  <div class="toolbar-input">
    <div class="toolbar-icon-blue">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
      </svg>
    </div>
    <input
      [(ngModel)]="ingredientName"
      (keypress)="isIngredientNameValid() && $event.key =='Enter' ? onAddClicked() : null"
      type="text"
      maxlength="50"
      placeholder="Enter new ingredient name">
  </div>

  <div class="btn-container">
    <button class="btn-blue desktop-only" [disabled]="!isIngredientNameValid()" (click)="onAddClicked()">Add</button>
    <button class="btn-cancel" (click)="onCancelClicked()">Cancel</button>
  </div>
</div>