<section *ngIf="addIngredientModeEnabled; then addIngredientToolbar else searchIngredientToolbar"></section>

<ul class="ingredient-list">
  <li
    *ngFor="let ingredient of ingredients" 
    class="ingredient-item">
    <span>{{ ingredient.name }}</span>
    <button (click)="deleteIngredient(ingredient.id)" class="delete-btn">
      <img class="h-6 w-6" src="../assets/icons/trash.svg" alt="Trash icon">
    </button>
  </li>
</ul>

<ng-template #addIngredientToolbar>
  <app-add-ingredient-toolbar 
    (add)="addIngredient($event)"
    (cancel)="disableAddIngredientMode()"
  ></app-add-ingredient-toolbar>
</ng-template>

<ng-template #searchIngredientToolbar>
  <app-search-ingredient-toolbar 
    (search)="searchForIngredients($event)"
    (addClick)="enableAddIngredientMode()"
  ></app-search-ingredient-toolbar>
</ng-template>
