<div class="btn-container mb-4">
  <div class="search">
    <div class="search-icon">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </div>
    <input 
      [ngModel]="searchText" 
      (ngModelChange)="onSearchTextChange($event)" 
      class="search-input" 
      type="text" 
      placeholder="Search for a recipe...">
  </div>

  <button class="btn btn-secondary" (click)="openAddRecipeModal()">Add</button>
</div>

<ul class="recipe-list">
  <li 
    (click)="openEditRecipeModal(recipe)"
    (contextmenu)="openItemContextMenu($event, recipe); false"
    *ngFor="let recipe of recipes" 
    class="recipe-item">
    {{ recipe.name }}
  </li>
</ul>

<div *ngIf="showRecipeContextMenu">
  <app-recipe-context-menu
    [positionX]="contextMenuPositionX"
    [positionY]="contextMenuPositionY"
    [recipe]="selectedRecipe"
  >
  </app-recipe-context-menu>
</div>

<div *ngIf="showAddRecipeModal">
  <app-add-recipe-modal 
    (onRecipeAdded)="refreshList()" 
    (onCancelled)="closeAddRecipeModal()">
  </app-add-recipe-modal>
</div>

<div *ngIf="showEditRecipeModal">
  <app-edit-recipe-modal
    [recipe]="selectedRecipe"
    (onRecipeUpdated)="refreshList()"
    (onRecipeDeleted)="refreshList()"
    (onCancelled)="closeEditRecipeModal()">
  </app-edit-recipe-modal>
</div>
