.container {
  @apply
    w-full
    h-full
    flex
    flex-col
    items-center
    mx-auto
  ;
}

.form-box {
  @apply 
    w-full
    max-w-md
    mt-24
    flex
    flex-col
  ;
}

.header {
  @apply
    mb-9
    text-center
    md:text-left
  ;
}

.login {
  @apply
    md:mt-0
    mt-9
    text-center 
    md:text-left
    order-1
    md:order-none
    col-span-12
  ;
}

.link {
  @apply
    text-blue-500
    font-semibold
    hover:text-blue-400
  ;
}
