<div class="page">
  <header class="bg-purple-800 p-2 text-white">
    <div class="max-w-7xl mx-auto">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <img class="logo-image" src="/assets/img/logo.png"/>
          <a class="logo-name" routerLink="/">Panda Cave</a>
        </div>
        
        <nav>
          <ul class="flex">
            <li class="mr-4"><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
            <li class="mr-4"><a routerLink="kitchen" routerLinkActive="active">Kitchen</a></li>
            <li class="mr-4"><a routerLink="finance" routerLinkActive="active">Finance</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <p class="text-center">Made with Bamboo and Love</p>
  </footer>
</div>
