.page {
  @apply
    flex 
    flex-col 
    min-h-screen
    max-h-screen
    min-w-full
    max-w-full
  ;
}

.active {
  @apply
    font-semibold
    pb-1
  ;
}

.active-btn {
  @apply
    font-semibold
  ;
}

.logo-name {
  @apply
    text-xl
    font-semibold  
  ;
}

.logo-image {
  @apply
    w-9
    mr-3
  ;
}

.nav-list {
  @apply
    flex
    space-x-3
  ;
}

.nav-link {
  @apply
    px-2
  ;
}

.mobile-nav {
  @apply
    absolute
    top-0
    p-2
    mb-6
    w-72
    h-screen
    bg-gray-900
    drop-shadow-lg
    backdrop-filter 
    backdrop-blur-3xl
    transition-all
    ease-in
    duration-200
  ;

  .close-button {
    @apply 
      flex
      justify-end
      mt-2
      mb-5
      px-3
    ;
  }

  .nav-list {
    @apply
      flex-col
      text-xl
      space-y-2
      items-stretch
      w-full
      space-x-0
    ;

    .nav-link {
      @apply
        block
        rounded-md
        p-2
      ;
    }

    .active {
      @apply
        bg-purple-600
        text-white
      ;
    }
  }
}

.main {
  @apply
    flex-grow 
    grid
    grid-cols-1
    pt-4 
    px-2 
    text-white
    md:pt-8
  ;
  grid-template-rows: 0 auto;
}

.footer {
  @apply
    hidden
    sm:block
    bg-gray-900
    bg-opacity-60 
    backdrop-filter 
    backdrop-blur-lg
    text-sm 
    text-white 
    py-4
  ;
}