<div class="page">
  <header class="bg-purple-800 p-2 text-white">
    <div class="container mx-auto">
      <div class="flex justify-between items-center">

        <button (click)="openMobileNav()" class="mobile-only mr-2" aria-label="Open navigation menu">
          <img class="h-6 w-6" src="../assets/icons/burger-menu.svg" alt="Navigation menu icon">
        </button>

        <div class="mobile-nav" [ngClass]="{'-left-72': !showMobileNav, 'left-0': showMobileNav}">
          <div class="close-button">
            <button (click)="closeMobileNav()" aria-label="Close nagivation menu">
              <img class="h-6 w-6" src="/assets/icons/close.svg" alt="Close icon">
            </button>
          </div>

          <ul class="nav-list">
            <!-- <li><a (click)="closeMobileNav()" class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <div class="flex items-center">
                <img class="h-6 w-6 mr-3" src="../assets/icons/home.svg" alt="Home icon">
                Home
              </div>
            </a></li> -->
            <li *ngIf="authService.isAuthenticated()"><a (click)="closeMobileNav()" class="nav-link" routerLink="kitchen" routerLinkActive="active">
              <div class="flex items-center">
                <img class="h-6 w-6 mr-3" src="/assets/icons/book.svg" alt="Kitchen icon">
                Kitchen
              </div>
            </a></li>
            <li *ngIf="!authService.isAuthenticated()"><a (click)="closeMobileNav()" class="nav-link" routerLink="login" routerLinkActive="active">
              <div class="flex items-center">
                <img class="h-6 w-6 mr-3" src="/assets/icons/login.svg" alt="Log In icon">
                Log In
              </div>
            </a></li>
            <li *ngIf="!authService.isAuthenticated()"><a (click)="closeMobileNav()" class="nav-link" routerLink="signup" routerLinkActive="active">
              <div class="flex items-center">
                <img class="h-6 w-6 mr-3" src="/assets/icons/add-user.svg" alt="Sign Up icon">
                Sign Up
              </div>
            </a></li>
            <li *ngIf="authService.isAuthenticated()"><button (click)="logout()" class="nav-link">
              <div class="flex items-center">
                <img class="h-6 w-6 mr-3" src="/assets/icons/logout.svg" alt="Log out icon">
                Log out
              </div>
            </button></li>
          </ul>
        </div>

        <div class="flex items-center mr-10">
          <img class="logo-image" src="/assets/img/logo.png" alt="Panda Logo"/>
          <a class="logo-name" routerLink="/">Panda Cave</a>
        </div>

        <div class="mobile-only"></div>
        
        <nav class="desktop-only">
          <ul class="nav-list">
            <!-- <li><a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li> -->
            <li *ngIf="!authService.isAuthenticated()"><a class="nav-link" routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Log In</a></li>
            <li *ngIf="!authService.isAuthenticated()"><a class="nav-link btn-purple" routerLink="signup" routerLinkActive="active-btn" [routerLinkActiveOptions]="{ exact: true }">Sign Up</a></li>
            <li *ngIf="authService.isAuthenticated()"><a class="nav-link" routerLink="kitchen" routerLinkActive="active">Kitchen</a></li>
            <li *ngIf="authService.isAuthenticated()"><button class="nav-link" (click)="logout()">Logout</button></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <p class="text-center">Made with Bamboo and Love</p>
  </footer>
</div>

<div class="absolute bottom-12 w-full">
  <app-alert></app-alert>
</div>
