<div class="daily-menu">
  <h3 class="daily-menu-title">{{weekday}}</h3>
  <div class="daily-container">
    <div class="daily-meal">
      <label class="daily-meal-label" for="lunch">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
      </label>
      <input 
        class="daily-meal-input" 
        type="text"
        (click)="onLunchClicked.emit()"
        name="lunch" 
        readonly 
        [(ngModel)]="lunch"
        placeholder="Click to select a lunch recipe..."/>
    </div>

    <div class="daily-meal mt-2">
      <label class="daily-meal-label" for="dinner">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
        </svg>
      </label>
      <input
        (click)="onDinnerClicked.emit()"
        class="daily-meal-input" 
        type="text" 
        name="dinner" 
        [(ngModel)]="dinner"
        readonly 
        placeholder="Click to select a dinner recipe..."/>
    </div>
  </div>
</div>