<div class="modal-container" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="modal-layout">

      <div class="modal-bg" aria-hidden="true"></div>
      <span class="modal-center-fix" aria-hidden="true">&#8203;</span>
  
      <div class="dialog">
        <div class="dialog-bg">
          <div class="dialog-layout">
            <div class="dialog-icon-container dialog-icon-purple">
              <svg xmlns="http://www.w3.org/2000/svg" class="dialog-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
              </svg>
            </div>
            <div class="dialog-content">
              <label class="dialog-label" for="ingredientName">Ingredient Name</label>
              <input 
                class="dialog-input" 
                [(ngModel)]="ingredient.name" 
                name="ingredientName" 
                type="text" 
                placeholder="Type in the new ingredient name">
            </div>
          </div>
        </div>
        <div class="dialog-footer">
          <button [disabled]="ingredient.name === ''" (click)="onUpdateButtonClick()" type="button" class="dialog-purple-btn">Update</button>
          <button (click)="onDeleteButtonClick()" type="button" class="dialog-red-btn md:mt-0 mt-3">Delete</button>
          <button (click)="onCancelButtonClick()" type="button" class="dialog-cancel-btn">Cancel</button>
        </div>
      </div>
    </div>
  </div>