<section *ngIf="addIngredientModeEnabled; then addIngredientToolbar else searchIngredientToolbar"></section>

<ul class="ingredient-list">
  <li
    *ngFor="let ingredient of ingredients" 
    class="ingredient-item">
    {{ ingredient.name }}
  </li>
</ul>

<ng-template #addIngredientToolbar>
  <app-add-ingredient-toolbar 
    (add)="addIngredient($event)"
    (cancel)="disableAddIngredientMode()"
  ></app-add-ingredient-toolbar>
</ng-template>

<ng-template #searchIngredientToolbar>
  <app-search-ingredient-toolbar 
    (search)="searchForIngredients($event)"
    (addClick)="enableAddIngredientMode()"
  ></app-search-ingredient-toolbar>
</ng-template>
