<div class="btn-container mb-4">
  <span></span>
  <button class="btn btn-secondary">Print</button>
</div>
<div class="menu">
  <app-daily-menu
    *ngFor="let item of weeklyMenu"
    [weekday]="item.day"
    [lunch]="item.lunch?.name"
    [dinner]="item.dinner?.name"
    (lunchClick)="onLunchClicked(item)" 
    (dinnerClick)="onDinnerClicked(item)">
  </app-daily-menu>
</div>
<div *ngIf="showSelectRecipeModal">
  <app-select-recipe-modal
    (selected)="onSelectRecipeModalSelected($event)"
    (cancel)="onSelectRecipeModalCancel()"
    (clear)="onSelectRecipeModalClear()"
  ></app-select-recipe-modal>
</div>

