form {
  @apply
    max-w-sm
    mx-auto
  ;
}

h1 {
  @apply
    text-center
    mb-10
  ;
}

p {
  @apply
    flex
    flex-col
    mb-4
  ;
}

input {
  @apply
    bg-gray-700
    rounded-md
    border-none
    focus:ring-2
  ;
}

button {
  @apply
    mt-5
    py-3
    px-10
    rounded-md
    disabled:bg-gray-700
    disabled:text-gray-400
    disabled:cursor-not-allowed
  ;
}