<section *ngIf="addRecipeModeEnabled; then addRecipeToolbar else searchRecipeToolbar"></section>

<ul class="recipe-list">
  <a
    [routerLink]="[recipe.id, 'edit']"
    routerLinkActive #editRecipe="routerLinkActive"
    *ngFor="let recipe of recipes" 
    class="recipe-item">
    {{ recipe.name }}
  </a>
</ul>

<ng-template #addRecipeToolbar>
  <app-add-recipe-toolbar 
    (add)="addRecipe($event)"
    (cancel)="disableAddRecipeMode()"
  ></app-add-recipe-toolbar>
</ng-template>

<ng-template #searchRecipeToolbar>
  <app-search-recipe-toolbar 
    (search)="searchForRecipes($event)"
    (addClick)="enableAddRecipeMode()"
  ></app-search-recipe-toolbar>
</ng-template>