.recipe-item {
  @apply
    p-4
    bg-gray-700
    hover:bg-gray-500
    active:bg-gray-400
    rounded-md
    transition-all
    hover:ease-in
    hover:cursor-pointer
    select-none
  ;
}

.recipe-list {
  @apply
    grid 
    grid-cols-1
    flex-grow
    overflow-y-scroll
    md:grid-cols-2
    lg:grid-cols-3
    xl:grid-cols-4
    gap-4
    pb-4
  ;

  scrollbar-width: none;
  -ms-overflow-style: none;
  max-height: calc(100vh - 190px);

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 768px) {
  .recipe-list {
    max-height: calc(100vh - 262px);
  }
}

@media (min-width: 1024px) {
  .recipe-list {
    max-height: calc(100vh - 194px);
  }
}

