@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1 {
  @apply 
    text-3xl 
    mb-5 
    font-semibold
  ;
}

.btn {
  @apply
    px-6
    py-2
    rounded-md
    transition-all
    font-semibold
    hover:ease-in
  ;
}

.btn-secondary {
  @apply
    bg-green-600
    hover:bg-green-700
    active:bg-green-800
    hover:ease-in-out

  ;
}

.modal-container {
  @apply
    fixed 
    z-10 
    inset-0 
    overflow-y-auto
  ;
}

.modal-layout {
  @apply
    flex 
    items-end 
    justify-center 
    min-h-screen 
    pt-4 
    px-4 
    pb-20 
    text-center 
    sm:block 
    sm:p-0
  ;
}

.modal-bg {
  @apply 
    fixed 
    inset-0 
    bg-gray-900 
    bg-opacity-75 
    transition-opacity
  ;
}

.modal-center-fix {
  @apply 
    hidden 
    mt-64
    sm:inline-block 
    sm:align-top 
    sm:h-screen
  ;
}

.dialog {
  @apply
    inline-block 
    align-bottom 
    bg-white 
    rounded-lg 
    text-left 
    overflow-hidden 
    shadow-xl 
    transform 
    transition-all 
    sm:my-8 
    sm:align-middle 
    sm:max-w-lg 
    sm:w-full
  ;
}

.dialog-bg {
  @apply 
    bg-white 
    px-4 
    pt-5 
    pb-4 
    sm:p-6 
    sm:pb-4
  ;
}

.dialog-layout {
  @apply 
    sm:flex 
    sm:items-start
  ;
}

.dialog-icon-container {
  @apply 
    mx-auto 
    flex-shrink-0 
    flex 
    items-center 
    justify-center 
    h-12 
    w-12 
    rounded-full 
    sm:mx-0 
    sm:h-10 
    sm:w-10
  ;
}

.dialog-icon-green {
  @apply bg-green-100;
  .dialog-icon {
    @apply text-green-700;
  }
}

.dialog-icon-purple {
  @apply bg-purple-100;
  .dialog-icon {
    @apply text-purple-700;
  }
}

.dialog-icon {
  @apply 
    h-6 
    w-6 
  ;
}

.dialog-content {
  @apply
    mt-3 
    text-center 
    sm:mt-0 
    sm:ml-4 
    sm:text-left
    w-full
  ;
}

.dialog-title {
  @apply
    text-lg 
    leading-6 
    font-medium 
    text-gray-900
  ;
}

.dialog-text {
  @apply
    text-sm 
    text-gray-500
  ;
}

.dialog-label {
  @apply
    text-black
    font-medium
  ;
}

.dialog-input {
  @apply
    text-black
    block
    w-full
    rounded-md
    mt-2
  ;
}

.dialog-footer {
  @apply 
    bg-gray-100 
    px-4 
    py-3 
    sm:px-6 
    sm:flex 
    sm:flex-row-reverse
  ;
}

.dialog-btn {
  @apply
    w-full 
    inline-flex 
    justify-center 
    rounded-md 
    border 
    shadow-sm 
    px-4 
    py-2 
    text-base 
    font-medium 
    sm:ml-3 
    sm:w-auto 
    sm:text-sm
    focus:outline-none 
    focus:ring-2 
    focus:ring-offset-2 
  ;
}

.dialog-green-btn {
  @extend .dialog-btn;
  @apply 
    border-transparent 
    bg-green-600 
    text-white 
    hover:bg-green-700 
    active:bg-green-800
    focus:ring-green-500 
    disabled:bg-gray-500
    disabled:cursor-not-allowed
  ;
}

.dialog-purple-btn {
  @extend .dialog-btn;
  @apply 
    border-transparent 
    bg-purple-600 
    text-white 
    hover:bg-purple-700 
    active:bg-purple-800
    focus:ring-purple-500 
    disabled:bg-gray-500
    disabled:cursor-not-allowed
  ;
}

.dialog-red-btn {
  @extend .dialog-btn;
  @apply 
    border-transparent 
    bg-red-600 
    text-white 
    hover:bg-red-700 
    active:bg-red-800
    focus:ring-red-500 
    disabled:bg-gray-500
    disabled:cursor-not-allowed
  ;
}

.dialog-cancel-btn {
  @extend .dialog-btn;
  @apply 
    mt-3 
    border-gray-300 
    bg-white 
    text-gray-700 
    hover:bg-gray-100 
    active:bg-gray-200
    focus:ring-indigo-500 
    sm:mt-0 
  ;
}