<div class="container">
  <div class="inner-container">
    <h1 class="header">Create new account</h1>
    <div class="register">Already A Member? <a class="link" routerLink="/login">Log In</a></div>
    <div class="form">
      <input class="col-span-6" type="text" placeholder="Enter first name">
      <input class="col-span-6" type="text" placeholder="Enter last name">
      <input class="col-span-12" type="email" placeholder="Enter email">
      <input class="col-span-12" type="password" placeholder="Enter password">
      <input class="col-span-12" type="password" placeholder="Repeat password">
    </div>
    <div class="flex justify-end">
      <button class="btn-blue lg:w-1/4 w-full">Register</button>
    </div>
  </div>  
</div>