.header {
  @apply 
    mb-1
    pb-3
  ;
}

.top-row {
  @apply
    flex
    flex-wrap
    justify-between
  ;
}

.recipe-name {
  @apply
    bg-transparent
    border-0
    text-3xl
    font-semibold
    sm:mr-2
    py-0
    pl-0
    border-transparent
    border-b-2
    focus:border-green-500
    hover:cursor-pointer
    focus:cursor-text
    focus:outline-none
    box-content
    w-80
    sm:flex-grow
    max-w-xl
    focus:ring-0
    transition-all
    ease-in-out
  ;
}

.recipe-description {
  @apply
    bg-transparent
    border-0
    pt-0
    pl-0
    border-transparent
    border-b-2
    resize-none
    text-gray-300
    w-full
    hover:cursor-pointer
    focus:cursor-text
    focus:border-green-500
    focus:outline-none
    focus:ring-0
  ;

  max-width: 600px;
}

.title-button {
  @apply
    ml-2
    mb-2
  ;
  
  svg {
    @apply
      w-6
      h-6
    ;
  }
}

.detail-container {
  @apply
    flex-grow 
    overflow-y-scroll
    pb-4
  ;

  scrollbar-width: none;
  -ms-overflow-style: none;
  max-height: calc(100vh - 294px);
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 768px) {
  .detail-container {
    max-height: calc(100vh - 306px);
  }
}

@media (min-width: 1024px) {
  .detail-container {
    max-height: calc(100vh - 265px);
  }
}

.action-bar {
  @apply
    sm:hidden
    flex
    justify-evenly
    py-5
  ;
}


